@model PruebaCastores.Models.Noticia

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titular" class="control-label"></label>
                <input asp-for="Titular" class="form-control" />
                <span asp-validation-for="Titular" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Entrada" class="control-label"></label>
                <textarea asp-for="Entrada" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Cuerpo" class="control-label"></label>
                <textarea asp-for="Cuerpo" class="form-control" rows="6"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" type="file" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PieImagen" class="control-label"></label>
                <textarea asp-for="PieImagen" class="form-control" rows="2"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
